---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Ahora"
	description="Quién es Juan David Reyes Páez"
	pubDate={new Date('June 21 2026')}
>
	<p>Las etiquetas expiran si no se ponen en práctica.</p>

	<p>
		No me llamo economista. Tengo un título de profesional en Economía desde 2012, pero no lo he
		ejercido. Prefiero la palabra "ejercitación" a "teoría". No puedo reivindicar un título que no
		he puesto en práctica.
	</p>

	<p>
		Tampoco soy nómada digital, aunque lo fui entre 2016 y 2017. Ahora vivo en Medellín y me muevo
		de otras formas.
	</p>

	<h2>Ahora mismo</h2>
	<p>En los últimos meses empleo mi tiempo laboral siendo:</p>
	<ul>
		<li>
			✍🏼 <strong>Escritor</strong>, me dedico a hacer historias familiares. Pronto anunciaré ese
			proyecto.
		</li>
		<li>
			🤝 <strong>Gestor de comunidades</strong>, creé <a href="https://conectenis.com"
				>conectenis.com</a
			> para poder jugar más partidos de tenis al llegar a una nueva ciudad.
		</li>
		<li>
			🫙 <strong>Fermentero</strong>, con un parche nos reunimos cada 15 días a hacer fermentos en
			El Escampadero.
		</li>
	</ul>

	<p>Llevo un buen tiempo disfrutando la vida siendo:</p>
	<ul>
		<li>
			🚵🏻 <strong>Ciclista</strong>, corrí mi primer fondo en la Ruta Medellín y he hecho
			bikepacking en Antioquia. Ya subí el Alto de Letras.
		</li>
		<li>🎾 <strong>Tenista</strong>, juego por lo menos una vez a la semana.</li>
		<li>
			🏊🏻‍♂️ <strong>Nadador de aguas abiertas</strong>, participaré en el Oceanman de República
			Dominicana.
		</li>
	</ul>

	<h2>Conectar</h2>
	<p>
		Estoy activo en <a href="https://instagram.com/juandavid.xyz">Instagram @juandavid.xyz</a> y
		<a href="https://t.me/juandaveth">Telegram</a>.
	</p>
</Layout>
